.controlpanel {
  background-color: black;
/*   width: 500px; */
}

.resourebtn {
  margin-top:5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 2px;
  padding-top: 2px;
  scroll-padding-bottom: 2px;
  padding-right: 2px;
  background-color: purple;
  color: white;
  height: 30px;
  width: 90px;
  font-size: large;
}

.base {
  text-align: center;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}
.resourebtn:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

* {
  touch-action: manipulation;
}