<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<h1>RobotWars</h1>
<app-dashboard></app-dashboard>
<app-controls></app-controls>
<phaser-component (gameReady)="onGameReady($event)" [gameConfig]="config" [Phaser]="phaser"></phaser-component>
<!-- <app-game></app-game> -->

<!-- <router-outlet></router-outlet> -->