.label {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: right;
  font-weight: bold;
}

.title {
  text-align: center;
}

.val {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: left;

}
.dashboard {
    background-color: tan;
    font-size: medium;
    margin-left:0px;
    margin-bottom:0px;
    margin-top: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33%;
}

/* Responsive layout - when the screen is less than 400px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .column {
    width: 100%;

  }

  .controlbtn {
    background: black;
    color: white;
    align-items:center;
  }

  * {
    touch-action: manipulation;
  }
}